// colors
$bg-color: #141b33;

// mixins
@mixin center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

@mixin pseudo($position: absolute, $content: "") {
    content: $content;
    position: $position;
}

@mixin square($width,$height,$background) {
  width: $width;
  height: $height;
  background: $background;
}

html, body{
  width: 100%;
  height: 100%;
}

body{
  background: $bg-color;
  overflow: hidden;
}

.letter-t{
  @include center;

  .white{
    @include center;
    @include square(15vmin,15vmin,#ffffff);
    z-index: 1;
  }

  .shape{
    @include center;
    @include square(15.4vmin,27vmin,linear-gradient(to bottom,#c7b4ff 30%,#7d99ff));
    z-index: 2;
    top: 21vmin;
    left: -13.5vmin;
    transform: rotate(30deg) skewX(30deg);
    border-radius: 0 7vmin 0.5vmin 1vmin;

    &:before{
      @include pseudo;
      @include square(10vmin,13.4vmin,linear-gradient(to bottom,#c7b2ff 70%,#b5aeff));
      left: -9.5vmin;
    }

    &:after{
      @include pseudo;
      @include square(15.5vmin,13.4vmin,linear-gradient(to right,#9f6aff, #8864ff 50%, #7160ff 90%));
      left: -15.45vmin;
      border-radius: 0.5vmin 8vmin 0 1.2vmin;
    }
  }

  .right{
    top: -2vmin;
    left: 26.5vmin;
    transform: rotate(-90deg) skewX(30deg);
    background: linear-gradient(to bottom,#b3b2ff, #b29dff,#a16cff);

    &:before{
      background: linear-gradient(to bottom,#b3b1ff,#b2a0ff);
    }

    &:after{
      background: linear-gradient(to right,#7c99ff, #6f82ff 50%, #5f61ff 90%);
    }
  }

  .top{
    top: -25vmin;
    border-bottom-right-radius: 1vmin;
    transform: rotateZ(150deg) skewX(30.8deg);
    background: linear-gradient(to bottom,#c8b2ff 30%, #ac6dff);

    &:before{
      background: linear-gradient(to bottom,#c8b2ff 70%,#c3a7ff);
    }

    &:after{
      background: linear-gradient(to right,#a760f3, #9b56f2 50%, #8648f1 90%);
    }
  }
}
